<h1>New Group</h1>
<p class="lead">Here you are able to create your own group with preselected memebers. But don't worry, if you forget a member they can still join by themselves.</p>
<div class="form-group">
<%= form_for @group do |form| %>
    <div class="mb-3 row">
      <%= form.label :members %>
      <%= form.select :user_ids,  User.all.collect {|x| [ x.email, x.id]} ,{},  {multiple: true, class: "form-select"} %>
    </div>
    <div class="mb-3 row">
      <%= form.label :name %>
      <%= form.text_field :name,class: "form-control" %>
    </div>
    <div class="mb-3 row">
      <%= form.label :description %>
      <%= form.text_area :description,class: "form-control" %>
    </div>
    <div class="mb-3 row">
      <div class="col-2">
        <%= form.submit class: "btn btn-primary"%></div>
    </div>
<% end  %>
</div>
<%= link_to 'Back', groups_path, class: "btn" %>
