<h1>New Group</h1>

<%= form_for @group do |form| %>
<p>
  <%= form.label :members %>
  <%= form.select :user_ids,  User.all.collect {|x| [ x.email, x.id]} ,{}, multiple: true %>
</p>

<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :description %>
  <%= form.text_area :description %>
</p>

<p>
  <%= form.label :pw %>
  <%= form.text_field :pw %>
</p>

<p>
  <%= form.submit %>
</p>
<% end  %>
<%= link_to 'Back', groups_path %>
