<h1>Homepage</h1>
<p>this is the mainpage displaying todays options</p>


<!-- header -->
<h2> Logo </h2>
<h2><%= link_to 'All Meals', meals_path %></h2>
<h2><%= link_to 'Groups', groups_path %></h2>
<h2><%= link_to 'New Meal', new_meal_path %></h2>
<h2><%= link_to 'My Lunch', dashboard_index_url %></h2>

<h2><%= link_to 'Sign_up', new_user_registration_path %></h2>
<h2><%= link_to 'Sign_in', new_user_session_path %></h2>
<h2><%= link_to 'Sign_out', destroy_user_session_path, method: :delete %></h2>
<h2><%= link_to 'Edit Data', edit_user_registration_path %></h2>

<!-- header end -->
<br>
<br>
<br>
<!-- body -->
<table>
  <tr>
    <th>Rank</th>
    <th>Title</th>
    <th>Member</th>
    <th>Tags</th>
    <th>Upvotes</th>
  </tr>

  <% @meals.each do | meal |  %>
    <tr>

      <th>1</th>
      <td><%= link_to meal.title, meal %></td>
      <td><%= link_to meal.group, meal %></td>
      <td><%= link_to meal.tags, meal %></td>
      <td><%= link_to meal.upvotes, meal %></td>

    </tr>
  <% end %>
</table>
