<h1><%= @meal.title %></h1>
<p>
  <%= @meal.recipe %>
</p>
<br/>
<br/>
<p>
The following tags have been added:
<ul>
  <% @meal.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>
</p>
<br/>
<p>
  Food for:
  <%= @meal.due_date %>
</p>
<p>
  created:
  <%= @meal.created_at %>
  by <%= @meal.user %>
</p>
<div class="mb-5">
<%= link_to "Edit this meal", edit_meal_path, class: "btn btn-primary"  %>
</div>
<div id="comment_section">
<h3>Add A Comment</h3>
<%= form_with model: @comment, id: "comment_form", local: false, url: meal_comments_path(@meal) do|f| %>


  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <%= f.submit "Post Comment" %>
  </p>
<% end %>


<%= render :partial => 'comments/comment', :collection => @meal.comments %>
</div>